:root {
  --blue: #1089ff;
  --lightGray1: #e5e5e5;
  --lightGray2: #eeeeee;

  --white: whitesmoke;
  --red: #ff7675;
  --gray: #2d3436;
}


* {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}


h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 1.6rem;
}

body {
  background-color: var(--gray);
}

header {
  margin-top: 3rem;
}

header p {
  max-width: 30em;
  color: whitesmoke;
  margin: 1.4rem auto;
  padding: 0 1rem;
}

header section {
  margin: 0 auto 2rem auto;
}

header section a.btn {
  max-width: 7rem;
  margin: 0 auto;
  display: block;
}

section {
  margin: 0 auto 2rem auto;
  max-width: 900px;
  margin-bottom: 3rem;
}

main section:last-child {
  margin-bottom: 6rem;
}

form {
  margin-bottom: 2rem;
}

/*Buttons*/
.buttonGrid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 190px);
  grid-gap: 3rem 1rem;
}

.btn {
  position: relative;
  display: block;
  font-size: 1rem;
  text-decoration: none;
  border: 2px solid var(--red);
  color: var(--white);
  padding: 14px 60px;
  overflow: hidden;
  transition: .8s all ease;
  text-align: center;
  background: none;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--red);
  z-index: -1;
  transition: .8s;
}

a.btn {
  position: relative;
  display: block;
  color: var(--white);
  font-size: 1rem;
  text-decoration: none;
  border: 2px solid var(--red);
  padding: 14px 60px;
  overflow: hidden;
  transition: 1s all ease;

  text-align: center;
}

.btn::before {
  background: var(--red);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}


.btn1::before {
  width: 0;
  height: 100%;
}

.btn1:hover::before {
  width: 100%;
}

.btn2::before {
  width: 100%;
  height: 0;
}

.btn2:hover::before {
  height: 100%;
}

.btn3::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn3:hover::before {
  height: 380%;
}

.btn4::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn4:hover::before {
  height: 380%;
}


/*2e button set*/
.btna {
  position: relative;
  display: block;
  color: var(--white);
  font-size: 1rem;
  text-decoration: none;
  border: 2px solid var(--red);
  padding: 14px 60px;
  overflow: hidden;
  transition: .8s all ease;
  text-align: center;
  background: none;
}

.btna::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--red);
  z-index: -1;
  transition: .8s;
}

/* .btn5,
.btn6 {
  color: whitesmoke;
} */

.btn5:hover,
.btn6:hover {
  color: var(--gray);
}

.btn7,
.btn8 {
  color: var(--gray);
}

.btn7:hover,
.btn8:hover {
  color: whitesmoke;
}

.btn5::before,
.btn7::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn6::before,
.btn8::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

button.btn7::before,
button.btn8::before {
  height: 200%;
}

.btn5:hover::before,
.btn6:hover::before {
  height: 200%;
}

.btn7:hover::before,
.btn8:hover::before {
  height: 0%;
}


/*3e button set*/
.btn9 {
  background: none;
  border: 2px solid var(--red);
  color: whitesmoke;
  font-size: 1rem;
  position: relative;
}

.btn9::before,
.btn9::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background-color: var(--gray);
  transform: skewX(50deg);
  transition: .4s linear;
}

.btn9::before {
  top: -2px;
  left: 10%;
}

.btn9::after {
  bottom: -2px;
  right: 10%;
}

.btn9:hover::before {
  left: 80%;
  transform: skewX(-50deg);
}

.btn9:hover::after {
  right: 80%;
  transform: skewX(-50deg);
}


/*button 10, 45 deg corner fill*/
/* .btn10 {
  color: whitesmoke;
} */

.btn10::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: var(--red);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn10:hover::before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}



/*button 11, center fill*/
/* .btn11 {
  color: whitesmoke;
} */

.btn11::before {
  width: 0;
  height: 0;
  height: 1rem;
}

.btn11:hover::before {
  height: 110%;
  width: 110%;
}





/*4e button set*/
.btn13 {
  outline: none;
  position: relative;
  transition: all 0.3s;

  border: 2px solid var(--red);
  color: var(--white);
}

.btn13::after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;

  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--red);
}

.btn13:hover,
.btn13:active {
  color: var(--white);
}

.btn13:hover::after,
.btn13:active::after {
  width: 100%;
}


.btn14 {
  outline: none;
  position: relative;
  transition: all 0.3s;

  border: 2px solid var(--red);
  color: var(--white);
}

.btn14::after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;

  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  background: var(--red);
}

.btn14:hover,
.btn14:active {
  color: var(--white);
}

.btn14:hover::after,
.btn14:active::after {
  width: 100%;
}


.btn15 {
  outline: none;
  position: relative;
  transition: all 0.3s;

  border: 2px solid var(--red);
  color: var(--white);
}

.btn15::after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;

  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: var(--red);
}

.btn15:hover,
.btn15:active {
  color: var(--white);
}

.btn15:hover::after,
.btn15:active::after {
  height: 100%;
}



.btn16 {
  outline: none;
  position: relative;
  transition: all 0.3s;

  border: 2px solid var(--red);
  color: var(--white);
}

.btn16::after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;

  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background: var(--red);
}

.btn16:hover,
.btn16:active {
  color: var(--white);
}

.btn16:hover::after,
.btn16:active::after {
  height: 100%;
}



/*4th button set */
.btn17 {
  position: relative;
  display: block;
  font-size: 1rem;
  text-decoration: none;
  border: 2px solid var(--red);
  padding: 14px 60px;
  overflow: hidden;
  text-align: center;
  background: none;

  background-color: var(--red);
  color: var(--white);
  border: none;
  transition: all ease .8s;
}

.btn17:hover {
  background-color: rgba(0, 0, 0, 0.0);
}

.btn17::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background-color: var(--red);
  transition: all ease .4s;
}

.btn17::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--red);
  transition: all ease .4s;
}

.btn17:hover::before,
.btn17:hover::after {
  width: 100%;
}






/*old*/
/*
button {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 16px 32px;
  background-color: var(--blue);

  border-radius: 4px;
  color: var(--lightGray1);

  transition: .3s ease;
}
*/

.button1:hover {
  background-color: var(--gray);
}

.button2 {
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.2);
}

.button2:hover {
  box-shadow: none;
}



/* https://www.w3schools.com/howto/howto_css_animate_buttons.asp */
.button4 {
  color: white;
  text-align: center;
  width: 150px;
  transition: 0.5s;
}

.button4 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button4 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button4:hover span {
  padding-right: 25px;
}

.button4:hover span:after {
  opacity: 1;
  right: 0;
}




.button5 {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;

  padding: 16px 0px;
  width: 150px;
  overflow: hidden;

  transition: all 0.2s linear 0s;

  border: 2px solid var(--red);
  /* padding: 14px 60px; */
  background: none;
  color: whitesmoke;
  width: 100%;
}

.button5:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40%;
  transition: 0.5s;
}

.button5:hover {
  padding-right: 10%;
}

.button5:hover::before {
  opacity: 1;
  text-indent: 0px;
}

.button5::before {
  content: "\00bb";
  font-size: 1rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 25%;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 40px;
  transition: all 0.2s linear 0s;
}



/*Text field*/
input[type=text],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  border: none;
  cursor: pointer;

  font-size: 1rem;
  padding: 16px 32px;
  background-color: var(--blue);
  border-radius: 4px;
  color: var(--lightGray1)
}

input[type=submit]:hover {
  background-color: var(--blueGray);
}

#slider div {
  padding: 0 1rem;

  display: grid;

  grid-template-columns: repeat(auto-fill, 25rem);
  justify-content: center;
  grid-gap: 3rem 1rem;
}


/* The slider itself */
.slider {
  margin: 0 auto;

  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: .5rem;
  border-radius: 6px;
  background: var(--white);
  outline: none;
  opacity: 1;

  transition: .2s;
}

/* Browser support */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.4rem;
  height: 1.4rem;
  background: var(--red);
  cursor: pointer;
  border-radius: 50%;
}

/*
#slider form {
  display: block;
  margin: 0 auto;
}
*/


.dropdown1,
.dropdown2 {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}



.dropdown1 {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

.dropdown1:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}




.dropdown2 {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.dropdown2:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}